<!DOCTYPE html>
<html>
    <head>
        <title>ERROR</title>
    </head>

    <body>
        <header>
            An error has occured
        </header>
        <main>
            <p><% error %></p>
        </main>
        <footer>
            &copy; 2018
        </footer>
    </body>
</html>