<!DOCTYPE html>
<html>
    <head>
        <title>error</title>
    </head>

    <body>
        <header>
            404 error
        </header>
        <main>
            <!-- insert ejs -->
            <p>content</p>
        </main>
        <footer>
            &copy; 2018
        </footer>
    </body>
</html>