<!DOCTYPE html>
<html>
    <head>
        <title>Not Found</title>
    </head>
    <body>
        <header>
            Not Found
        </header>
        <main>
            <!-- insert ejs -->
            <p><% request.path %> </p>
        </main>
        <footer>
            &copy; 2018
        </footer>
    </body>
</html>
